<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.tool.task.dao.SystemRoleMapper">
    
     <!-- 用户表字段 -->
    <sql id="Base_Column_List">
        user_id, user_avatar, user_name, user_password, user_realName, user_birthday, user_sex, user_email, 
        user_phone, user_role_id, user_dept_id, user_status, create_time, update_time, creator, updator
    </sql>
   
    <!-- 分页查询用户 -->
    <select id="list" resultType="map">
        SELECT 
        	<include refid="Base_Column_List" /> 
        FROM SYS_USER AS sysu
        WHERE 1 = 1
        <if test="condition.userName != null and condition.userName != ''">
			AND sysu.userName = #{condition.userName}
		</if>
    </select>
    
     <!-- 根据用户名查询用户 -->
    <select id="queryUserByUserName" resultType="com.team.tool.task.bean.model.SystemUser">
        SELECT 
        	<include refid="Base_Column_List" /> 
        FROM SYS_USER AS sysu
        WHERE 1 = 1
        <if test="condition.userName != null and condition.userName != ''">
			AND sysu.userName = #{condition.userName}
		</if>
    </select>
</mapper>
