<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.tool.task.dao.workflow.WorkflowProcdefMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.team.tool.task.bean.model.workflow.WorkflowProcdef">
        <id property="procdefId" column="ID_" />
        <result property="procdefName" column="NAME_" />
        <result property="procdefKey" column="KEY_" />
        <result property="procdefVersion" column="VERSION_" />
        <result property="procdefDeploymentId" column="DEPLOYMENT_ID_" />
        <result property="procdefResourceName" column="RESOURCE_NAME_" />
    </resultMap>
    
     <!-- 任务表字段 -->
    <sql id="Base_Column_List">
        arp.ID_ AS procdefId,
        arp.NAME_ AS procdefName,
        arp.KEY_ AS procdefKey,
        arp.VERSION_ AS procdefVersion,
        arp.DEPLOYMENT_ID_ AS procdefDeploymentId,
        arp.RESOURCE_NAME_ AS procdefResourceName
    </sql>
    
     <!-- 根据条件查询流程 -->
    <select id="queryList" resultType="map">
        SELECT 
            <include refid="Base_Column_List" /> 
        FROM 
            act_re_procdef AS arp
        WHERE 
        	1 = 1
        <if test="condition.procdefId != null and condition.procdefId != ''">
			AND arp.ID_ like CONCAT('%',#{condition.procdefId},'%')
		</if>
	  	<if test="condition.procdefName != null and condition.procdefName != ''">
			AND arp.NAME_ like CONCAT('%',#{condition.procdefName},'%')
		</if>
	  	<if test="condition.procdefKey != null and condition.procdefKey != ''">
			AND arp.KEY_ like CONCAT ('%',#{condition.procdefKey},'%')
		</if>
     </select>
</mapper>
