<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.tool.task.dao.system.SystemMenuMapper">
    
    <!-- 角色表字段 -->
    <sql id="Base_Column_List">
        menu_id, menu_code, menu_pcode, menu_pcodes, menu_name, menu_icon, menu_path, menu_order, 
        menu_status, menu_is_menu, create_time, update_time, creator, updator
    </sql>
    
     <!-- 根据角色查询权限 -->
    <select id="getAuthoritiesByRoleId" resultType="string">
    	SELECT 
    		sysm.menu_id AS menuId
		FROM 
			sys_relation AS sysr INNER JOIN sys_menu AS sysm ON sysr.menu_id = sysm.menu_id 
		WHERE 
			sysr.role_id = #{roleId} 
    </select>
    
    <!-- 根据权限获取权限实体  -->
    <select id="getAuthoritiesModelByMenuId" resultType="com.team.tool.task.bean.model.SystemMenu">
	    SELECT
	    	<include refid="Base_Column_List" />
	   	FROM 
	   		sys_menu AS sysm
	   	where 
	   		sysm.menu_id in (#{menuIds})
	</select>
    
</mapper>
