<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.tool.task.dao.system.SystemMenuMapper">
    <!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.team.tool.task.bean.model.system.SystemMenu">
		<id property="menuId" column="menu_id" />
        <result property="menuCode" column="menu_code" />
        <result property="menuPcode" column="menu_pcode" />
        <result property="menuPcodes" column="menu_pcodes" />
        <result property="menuName" column="menu_name" />
        <result property="menuIcon" column="menu_icon" />
        <result property="menuPath" column="menu_path" />
        <result property="menuOrder" column="menu_order" />
        <result property="menuIsMenu" column="menu_is_menu" />
        <result property="menuStatus" column="menu_status" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="creator" column="creator" />
        <result property="updator" column="updator" />
	</resultMap>
    
    <!-- 菜单表字段 -->
    <sql id="Base_Column_List">
        menu_id, menu_code, menu_pcode, menu_pcodes, menu_name, menu_icon, menu_path, menu_order, 
        menu_status, menu_is_menu, create_time, update_time, creator, updator
    </sql>
    
     <!-- 根据条件查询菜单列表  -->
    <select id="queryList" resultType="map">
	    SELECT
 		 	sysm.menu_id AS menuId, sysm.menu_code AS menuCode, sysm.menu_pcode AS menuPcode, sysm.menu_name AS menuName, sysm.menu_icon AS menuIcon, sysm.menu_path AS menuPath, 
 		 	sysm.menu_order AS menuOrder, sysm.menu_status AS menuStatus, sysm.menu_is_menu AS menuIsMenu, sysm.create_time AS createTime, sysm.update_time AS updateTime, 
 		 	sysm.creator AS creator, sysuc.user_realName AS creatorName, sysm.updator AS updator, sysuu.user_realName AS updatorName
	   	FROM 
	   		sys_menu AS sysm
   		LEFT JOIN sys_user sysuc ON sysm.creator = sysuc.user_id
        LEFT JOIN sys_user sysuu ON sysm.updator = sysuu.user_id
	   	WHERE 
	   		1 = 1
       	ORDER BY
			sysm.menu_order ASC, sysm.update_time DESC
	</select>
	
    <!-- 根据菜单编号获取菜单实体  -->
    <select id="queryMenuByCode" resultMap="BaseResultMap">
	    SELECT
    		<include refid="Base_Column_List" /> 
	   	FROM 
	   		sys_menu AS sysm
	   	WHERE 
	   		sysm.menu_code = #{menuCode}
	</select>
	
   	<!-- 查询父级菜单列表  -->
    <select id="queryParentMenuList" resultType="map">
	    SELECT
 		 	menu_id AS menuId, menu_code AS menuCode, menu_pcode AS menuPcode, menu_name AS menuName, menu_icon AS menuIcon, menu_path AS menuPath, 
 		 	menu_order AS menuOrder, menu_status AS menuStatus, menu_is_menu AS menuIsMenu, sysm.create_time AS createTime, sysm.update_time AS updateTime, 
 		 	sysm.creator AS creator, sysuc.user_realName AS creatorName, sysm.updator AS updator, sysuu.user_realName AS updatorName
	   	FROM 
	   		sys_menu AS sysm
   		LEFT JOIN sys_user sysuc ON sysm.creator = sysuc.user_id
        LEFT JOIN sys_user sysuu ON sysm.updator = sysuu.user_id
	   	WHERE 
	   		sysm.menu_pcode = '0'
       	ORDER BY
			sysm.menu_order ASC, sysm.update_time DESC
	</select>
	
  	<!-- 根据父级菜单查询子菜单列表  -->
    <select id="queryMenuListByParent" resultType="map">
	    SELECT
 		 	sysm.menu_id AS menuId, sysm.menu_code AS menuCode, sysm.menu_pcode AS menuPcode, sysm.menu_name AS menuName, sysm.menu_icon AS menuIcon, sysm.menu_path AS menuPath, 
 		 	sysm.menu_order AS menuOrder, sysm.menu_status AS menuStatus, sysm.menu_is_menu AS menuIsMenu, sysm.create_time AS createTime, sysm.update_time AS updateTime, 
 		 	sysm.creator AS creator, sysuc.user_realName AS creatorName, sysm.updator AS updator, sysuu.user_realName AS updatorName
	   	FROM 
	   		sys_menu AS sysm
	   	LEFT JOIN sys_user sysuc ON sysm.creator = sysuc.user_id
        LEFT JOIN sys_user sysuu ON sysm.updator = sysuu.user_id
	   	WHERE 
	   		sysm.menu_pcode = #{pcode}
       	ORDER BY
			sysm.menu_order ASC, sysm.update_time DESC
	</select>
    
     <!-- 根据角色查询权限 -->
    <select id="queryAuthoritiesByRoleId" resultType="string">
    	SELECT 
    		sysm.menu_id AS menuId
		FROM 
			sys_relation AS sysr INNER JOIN sys_menu AS sysm ON sysr.menu_id = sysm.menu_id AND sysm.menu_status = '1'
		WHERE 
			sysr.role_id = #{roleId} 
    </select>
    
    <!-- 根据权限获取权限实体  -->
    <select id="queryAuthoritiesModelByMenuId" resultMap="BaseResultMap">
	    SELECT
    		<include refid="Base_Column_List" /> 
	   	FROM 
	   		sys_menu AS sysm
	   	WHERE 
	   		sysm.menu_id 
	   	IN	
	   		<foreach collection="menuIds" index="index" item="id" open="(" separator="," close=")">  
          		#{id}  
        	</foreach>
        AND sysm.menu_status = '1'
       	ORDER BY
			sysm.update_time 
		DESC
	</select>
	
	<!--菜单树形模型 -->
	 <select id="queryMenuTree" resultType="com.team.tool.task.bean.node.MenuNode">
	     SELECT
		  sysm1.menu_id AS id,
		  sysm1.menu_code AS `code`,
		  sysm1.menu_pcode AS pcode,
		  sysm1.menu_icon AS icon,
		  sysm1.menu_name AS `name`,
		  sysm1.menu_path AS path,
		  sysm1.menu_order AS `order`,
		  sysm1.menu_is_menu AS isMenu,
		  sysm2.menu_id AS pid
		FROM
		  sys_menu AS sysm1 
		LEFT JOIN sys_menu AS sysm2 ON sysm1.menu_pcode = sysm2.menu_code
        INNER JOIN 
       		(
       			SELECT menu_id
	    		FROM sys_menu
	     	) AS sysm3 ON sysm1.menu_id = sysm3.menu_id
		WHERE sysm1.menu_is_menu = '1'
		AND sysm1.menu_status = '1'
		ORDER BY sysm1.menu_order ASC, sysm1.update_time DESC
	</select>
	
	<!--主页面菜单树形模型，需更据用户角色过滤 -->
	<select id="queryMenuTreeByRoleId" resultType="com.team.tool.task.bean.node.MenuNode">
       SELECT
		  sysm1.menu_id AS id,
		  sysm1.menu_code AS `code`,
		  sysm1.menu_pcode AS pcode,
		  sysm1.menu_icon AS icon,
		  sysm1.menu_name AS `name`,
		  sysm1.menu_path AS path,
		  sysm1.menu_order AS `order`,
		  sysm1.menu_is_menu AS isMenu,
		  sysm2.menu_id AS pid
		FROM
		  sys_menu AS sysm1 
		LEFT JOIN sys_menu AS sysm2 ON sysm1.menu_pcode = sysm2.menu_code
        INNER JOIN 
    		(
       			SELECT menu_id
	    		FROM sys_menu
	    		WHERE menu_id 
	    		IN (
	    			SELECT menu_id FROM  sys_relation AS sysr
			     	WHERE sysr.role_id = #{roleId}
	     	    )
     	    ) AS sysm3 ON sysm1.menu_id = sysm3.menu_id
		WHERE sysm1.menu_is_menu = '1'
		AND sysm1.menu_status = '1'
		ORDER BY sysm1.menu_order ASC, sysm1.update_time DESC
    </select>
    
</mapper>
